body {
  background: #d7d5d1;
  margin: 0;
}


#photo {
  background: url(IMG_1770copy.jpg);
  background-size: cover;
  height: 50vw;
  width: 100vw;
  background-repeat: no-repeat;
  margin-top: -70px;
  //margin: auto;
  //margin-top: 0;

  //border-radius: 5%;
  //position: absolute;

}

#label {
  font-family: Didot, "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif;
  color: #0E0C0E;
  font-size: 2vw;
  justify-content: space-around;
  margin-left: 75%;
  margin-top: 5%;
  padding-top: 1%;
  opacity: .75;

}

#banner {
  display: flex;
  font-family: Didot, "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif;
  color: #0E0C0E;
  font-size: 3vw;
  justify-content: space-around;
  margin: auto;
  margin-top: 15%;
  margin-right: 9%;
  opacity: .75;
}

#summary {
  display: flex;
  justify-content: space-between;
  height: 100%;
  width: 94vw;
  margin: auto;
  margin-top: 3%;
  margin-bottom: 3%;
  background-color: #868581;
  border: solid 2px;
  border-color: #0E0C0E;
  border-radius: 5%;
  font-family: Didot, "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif;
  color: #0E0C0E;
  font-weight: bold;
  padding: 15px;
}

.pitch {
  width: 75%;
  margin-top: 40px;
}

#skills {
  display: flex;
  justify-content: space-around;

}

#skills div {
  border: solid 2px;
  border-color: #0E0C0E;
  border-radius: 5%;
  padding: 5px 5px 5px 10px;
  padding-right: 40px;
  text-align: center;
  background-color: #A39840;
  margin: 5px;

}

#skills ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  align-items: center;
  font-family: Didot, "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif;

}

lh {
  font-weight: bold;
  text-decoration: underline;
}

#projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

#projects div {
  border: solid 2px;
  border-color: #0E0C0E;
  border-radius: 5%;
  padding: 5px 5px 5px 10px;
  padding-right: 40px;
  text-align: center;
  background-color: #3D2222;
  margin: 5px;
  margin-top: 3%;
  margin-bottom: 3%;

}

#mid {
  display: flex;
  justify-content: space-around;

}

#mid div {
  width: 100vw;
  height: 5vw;
  text-align: center;
  background-color: #0E0C0E;
  color: #d7d5d1;
  font-size: 2vw;
  border-left: .25px solid;
  border-right: .25px solid;
  border-color: white;
  border-radius: 5px;
}

#mid p {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

#mid div:hover {
  background-color: #3D2222;
}

#skills, #projects {
  display: none;
}

footer {
  display: flex;
  justify-content: space-around;
}

footer div {
  width: 100vw;
  height: 5vw;
  text-align: center;
  background-color: #0E0C0E;
  padding-bottom: 5px;

}

a {
  text-decoration: none;
  color: #d7d5d1;
  font-size: 2vw;
}

#pic {
  height: 266px;
  width: 186px;
  border-radius: 50%;
  border: solid 2px;
  border-color: #0E0C0E;
  background-image: url(JennaTucker.jpg);
  background-size: cover;
  margin: auto;

}
