#main {
  display: flex;
  flex-direction: column; }

#front {
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  margin: 0px;
  padding: 0px; }

#photo {
  background-image: url("IMG_1782copy.jpg");
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-size: cover;
  opacity: .95;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center; }

#name {
  font-family: "brandon-grotesque-n7","brandon-grotesque",sans-serif;
  font-variant: all-small-caps;
  color: #b1dcf7;
  font-size: 2em;
  margin-top: 25vh;
  border-bottom: 1px solid; }

#buttons {
  display: flex;
  justify-content: space-around; }

#buttons div {
  border: 1px solid;
  border-color: #ffb884;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px; }

#buttons a {
  color: #ffb884;
  text-decoration: none; }

#title {
  font-family: "brandon-grotesque-n7", "brandon-grotesque", sans-serif;
  font-variant: all-small-caps;
  color: #999b6f;
  font-size: 1.5em; }

#projects {
  margin-top: -10px;
  padding: 0;
  width: 100vw;
  height: 100vh;
  background-color: #b1dcf7;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; }

#projects div {
  height: 15vw;
  width: 20vw;
  background-color: white;
  margin: 5vw; }

#sumskills {
  margin-top: -10px;
  padding: 0;
  width: 100vw;
  height: 75vh;
  background-color: #3d3d3d;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; }

#abt {
  height: 7vh;
  margin-top: 10vh;
  padding-top: 10px;
  padding-bottom: 5px;
  font-size: 3em;
  color: white;
  font-family: "brandon-grotesque-n4","brandon-grotesque",sans-serif;
  font-variant: all-petite-caps;
  border-bottom: 1px solid; }

#sum {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10vw;
  margin-right: 10vw;
  width: 80vw;
  margin-bottom: 10vh;
  font-family: "brandon-grotesque-n4","brandon-grotesque",sans-serif;
  color: #6c6d6e; }

#pic {
  background-image: url("JennaTucker.jpg");
  background-size: cover;
  height: 268px;
  width: 186px; }

#pitch {
  font-family: "brandon-grotesque-n4", "brandon-grotesque", sans-serif;
  width: 35vw;
  height: 268px;
  margin-left: 40px;
  line-height: 1.5; }

#skillsets {
  margin-top: -10px;
  padding: 0;
  width: 100vw;
  height: 50vh;
  background-color: #1d1d1d;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  border: 1px solid; }

#skz {
  margin-top: 5vh;
  font-size: 2em;
  color: white;
  font-family: "brandon-grotesque-n4","brandon-grotesque",sans-serif;
  font-variant: all-petite-caps;
  border-bottom: 1px solid;
  padding-bottom: 10px; }

#skills {
  display: flex;
  justify-content: space-around;
  padding-top: 2vh;
  padding-left: 10vw;
  padding-right: 10vw;
  padding-bottom: 10vh;
  width: 100vw; }

#skills div {
  line-height: 1.25;
  text-align: center; }

lh {
  font-family: "brandon-grotesque-n4", "brandon-grotesque", sans-serif;
  font-weight: bold;
  line-height: 3;
  border-bottom: solid 1px;
  color: #ffb884; }

li {
  font-family: "brandon-grotesque-n4", "brandon-grotesque", sans-serif;
  list-style: none;
  color: #999b6f;
  text-align: center; }

footer {
  background: #f5deb3;
  width: 100vw;
  height: 50vh;
  display: flex;
  justify-content: space-around;
  align-items: center; }

footer a {
  text-decoration: none;
  color: #121212;
  font-size: 2em; }

/*# sourceMappingURL=portfolio.css.map */
