#main {
  display: flex;
  flex-direction: column; }

#front {
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  margin: 0px;
  padding: 0px; 
}

#photo {
  background-image: url("IMG_1782copy.jpg");
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-size: cover;
  opacity: .95;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center; }

#name {
  font-family: "brandon-grotesque-n7","brandon-grotesque",sans-serif;
  font-variant: all-small-caps;
  color: #b1dcf7;
  font-size: 2em;
  margin-top: 25vh;
  border-bottom: 1px solid; }

#buttons {
  display: flex;
  justify-content: space-around;
  margin-top: 60px; }

#buttons div {
  border: 2px solid;
  border-color: #c36200;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px; }

#buttons a {
  color: #c36200;
  text-decoration: none; }

#title {
  font-family: "brandon-grotesque-n7", "brandon-grotesque", sans-serif;
  font-variant: all-small-caps;
  color: #999b6f;
  font-size: 1.5em; }

#projectsContainer {
  background-color: #b1dcf7;
  margin-top: -10px;
  width: 100vw;
  margin-left: -10px;
  display:flex;
  flex-direction: column
}

#projectsHeader {
  align-self: center;
  padding-top: 5vh;
  font-family: "brandon-grotesque-n7", "brandon-grotesque", sans-serif;
  font-variant: all-small-caps;
  font-size: 3em;
  color: #3d3d3d;
  text-decoration: underline
}

#projects {
  margin-top: -10px;
  width: 100vw;
  height: auto;
  padding-top: 75px;
  padding-bottom: 75px;
  background-color: #b1dcf7;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center }

.project {
  width: 267px;
  height: 471px;
  background-color:#1d1d1d;
  background: rgba(0,0,0,.2);
  display: flex;
  flex-direction: column;
  border: solid #1d1d1d 3px;
  margin: 20px
}

.projectTitle {
  width: auto;
  height: 15vh;
  background: rgba(0,0,0,.2);
  font-family: "brandon-grotesque-n4","brandon-grotesque",sans-serif;
  font-size: 2em;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.projectImageDiv {
  height: 70vh;
  width: 267px;
}

.projectDescription {
  color: #1d1d1d;;
  font-family: "brandon-grotesque-n4","brandon-grotesque",sans-serif;
  font-size: 1em;
  padding: 4px;
  height: 40vh;
  padding-top: 3vh;
  text-align: center
}

#projectImage1 {
  background: url('PhotoPlate.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin: 5px
}

#projectImage2 {
  background: url('NodeCLI.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin: 5px
}

#projectImage3 {
  background: url('NeoOT.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin: 5px;
}

.siteLinks {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 25vh;
  width: 267px;
  background: rgba(0,0,0,.4)
  
}

.projectSiteLink, .projectRepoLink {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5em;
  flex-grow: 1;
  border-top: solid #1d1d1d 2px;
  text-align: center;
  font-family: "brandon-grotesque-n7","brandon-grotesque",sans-serif;
  font-variant: all-small-caps;
}

a {
  text-decoration: none;
  color: #1d1d1d
}

#sumskills {
  margin-top: -10px;
  padding: 0;
  width: 100vw;
  height: auto;
  background-color: #3d3d3d;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; }

#abt {
  height: 7vh;
  margin-top: 10vh;
  padding-top: 10px;
  padding-bottom: 5px;
  font-size: 3em;
  color: white;
  font-family: "brandon-grotesque-n4","brandon-grotesque",sans-serif;
  font-variant: all-petite-caps;
  text-align: center;
  text-decoration: underline; }

#sum {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10vw;
  margin-right: 10vw;
  width: 80vw;
  margin-bottom: 10vh;
  font-family: "brandon-grotesque-n4","brandon-grotesque",sans-serif;
  color: #6c6d6e; 
}

#pic {
  background-image: url("JennaTucker.jpg");
  background-size: cover;
  height: 268px;
  width: 186px; 
  margin-top: -25px;
}

#pitch {
  font-family: "brandon-grotesque-n4", "brandon-grotesque", sans-serif;
  width: 55vw;
  height: 268px;
  margin-left: 40px;
  line-height: 1.5;
  margin-bottom: 7vh
}

#skillsets {
  margin-top: -10px;
  padding: 0;
  width: 100vw;
  height: auto;
  background-color: #1d1d1d;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  border: 1px solid; }

#skz {
  margin-top: 5vh;
  font-size: 2em;
  color: white;
  font-family: "brandon-grotesque-n4","brandon-grotesque",sans-serif;
  font-variant: all-petite-caps;
  border-bottom: 1px solid;
  padding-bottom: 10px; }

#skills {
  display: flex;
  justify-content: space-around;
  padding-top: 2vh;
  padding-left: 10vw;
  padding-right: 10vw;
  padding-bottom: 5vh;
  width: 100vw;
 }

#skills div {
  line-height: 1.25;
  text-align: center; }

lh {
  font-family: "brandon-grotesque-n4", "brandon-grotesque", sans-serif;
  font-weight: bold;
  line-height: 3;
  border-bottom: solid 1px;
  color: #ffb884; }

li {
  font-family: "brandon-grotesque-n4", "brandon-grotesque", sans-serif;
  list-style: none;
  color: #999b6f;
  text-align: center; }

footer {
  background: #f5deb3;
  width: 100vw;
  height: 50vh;
  display: flex;
  justify-content: space-around;
  align-items: center; }

footer a {
  text-decoration: none;
  color: #121212;
  font-size: 2em; }


@media only screen and (max-width: 768px) {
    /* For mobile phones: */

  #name {
    margin-top: 0
  }
    

  #buttons {
    margin-top: 10px; }


  #sumskills {
    height: auto;
  }

  #sum {
    flex-direction: column;
    margin-top: 20px
  }

  #pic {
    margin: 30px;
    margin-top: 40px
  }

  #pitch {
    height: auto;
    width: auto
  }

  #skillsets {
    height: auto
  }

  #skills {
    flex-direction: column;
  }

  #skills div  {
    width: 100vw
  }
    
}

